.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    .nav-item {
      button {
        cursor: pointer;
        border: none;
        background-color: transparent;
      }
      button.active {
        background-color: #0029ff;
        color: #fff;
      }
    }
  }
  &__sort {
    display: flex;
    gap: 10px;
  }
  &__btn {
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    &_type_table {
      background-image: url('../../assets/img/filter-table.svg'); //#0029FF
    }
    &_type_line {
      background-image: url('../../assets/img/filter-line.svg');
    }
    &_type_table.active {
      background-image: url('../../assets/img/filter-table-active.svg');
       //#0029FF
    }
    &_type_line.active {
      background-image: url('../../assets/img/filter-line-active.svg');
    }
  }
}
